.App {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 1%;
    background-color: rgba(028, 028, 032, 1.0);
    color: rgba(175, 175, 050, 1.0);
    background-image: url("./HeaderImage.jpg");
    border: 5px, solid, black;
  };